
/texts_viewer/static/vendor/
/.idea/
/node_modules/
/texts_viewer/libs/
/texts_viewer/static/bundle/
app.sqlite
/texts_viewer/data/




### Python template
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Installer logs
pip-log.txt
pip-delete-this-directory.txt


# Flask stuff:
instance/
.webassets-cache

# Sphinx documentation
docs/_build/


# IPython Notebook
.ipynb_checkpoints

# pyenv
.python-version

# dotenv
.env
